body{
    background-image: url(computerbg.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
    cursor: url('BrondAlive.PNG'),auto;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .loader8 {
    width: 250px;
    height: 16px;
    border: 3px solid #ffffff;
    border-radius: 0px;
    position: absolute;
    overflow: hidden;
    top: 57%;
    right: 43%;
    background: #000000;
    z-index: 1001;
  }
  
  .loader8:after {
    content: " ";
    display: block;
    width: 120px;
    top: -50%;
    height: 250%;
    position: absolute;
    animation: greenglow 3s linear infinite;
    z-index: 1002;
    background: #0011ff;
  }
  
  @keyframes greenglow {
    from {
      left: -120px;
    }
  
    to {
      left: 100%;
    }
  }

.endthing{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60%;
    width: 100%;
}

.cog{
    position: relative;
    left: 1170px;
    width: 5%;
    top: 40%;
    z-index: 1001;
}
.TV{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    top: 45%;
    left: 20px;
    z-index: 1001;
}

#power{
    width: 3%;
    position: absolute;
    right: 10px;
    bottom: 9px;
    z-index: 102;
}

.title{
    font-family: funnh;
    position: absolute;
    bottom: -29px;
    z-index: 102;
    filter: drop-shadow(1px 1px 2px #000000);
}

.task{
    position: absolute;
    left: -90px;
    bottom: -2px;
    width: 177%;
    height: 70px;
    z-index: 101;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(89,89,89,1) 100%);
    opacity: 0.8;
    border: solid 3px rgba(233, 233, 233, 0.467);

}

#bIcon{
    width: 3%;
    position: absolute;
    z-index: 102;
    bottom: 5px;
    left: 9.3%;;
}

#title1{
    font-family: funnh;
    position: absolute;
    top: 96px;
    -webkit-text-stroke: 0.2px #000000;
    filter: drop-shadow(2px 2px 2px #000000);
}
#title1:hover{
    text-decoration: underline white;
}
#title2{
    font-family: funnh;
    position: absolute;
    top: 158px;
    left: 5px;
    -webkit-text-stroke: 0.2px #000000;
    filter: drop-shadow(2px 2px 2px #000000);
}
#title2:hover{
    text-decoration: underline white;
}
#title3{
    font-family: funnh;
    position: absolute;
    top: 227px;
    left: 9px;
    -webkit-text-stroke: 0.2px #000000;
    filter: drop-shadow(2px 2px 2px #000000);
}
#title3:hover{
    text-decoration: underline white;
}
#title4{
    font-family: funnh;
    position: absolute;
    top: 86px;
    left: 60px;
    -webkit-text-stroke: 0.2px #000000;
    filter: drop-shadow(2px 2px 2px #000000);
}
#title4:hover{
    text-decoration: underline white;
}
.Icon1:hover{
    cursor: pointer;
}
.Icon2:hover{
    cursor: pointer;
}
.Icon3:hover{
    cursor: pointer;
}
.Icon4:hover{
    cursor: pointer;
}
.close:hover{
    cursor: pointer;
}

.close{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    right: 15px;
    z-index: 1001;
    background-color: red;
    border-radius: 20%;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 67, 67, 0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    filter: drop-shadow(3px,3px,3px #ffffff);
}

.close2:hover{
    cursor: pointer;
}

.close2{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    right: 15px;
    z-index: 1001;
    background-color: red;
    border-radius: 20%;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 67, 67, 0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    filter: drop-shadow(3px,3px,3px #ffffff);
}

#apple{
    position: absolute;
    width: 50%;
    top: 60px;
    left: 170px;
}

.toolbar{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: max-content;
    height: auto;
    margin-left: 2px;
    border: solid 6px #aaa7;
    border-image: linear-gradient(#aaa7 29%, #fffa 39%, #9997 39.9%, #7777 69%, #eee8 99%) 30;
    backdrop-filter: blur(5px);
    outline: solid 1px #fffc;
    position: absolute;
    border-radius: 3px;
    box-shadow: #000 0px 1px 7px 2px;
    box-sizing: border-box;
    z-index: 4;
}
.window-header {
    background-color: #aaa7;
    color: #111;
    padding: 0 2px;
    text-shadow: #fff 0px 0px 4px, #fff 0px 0px 9px;
    padding-bottom: 6px;
    cursor: grab;
    user-select: none;
    font-size: 14px;
}
.window-header2{
    background-color: #aaa7;
    color: #111;
    padding: 0 2px;
    text-shadow: #fff 0px 0px 4px, #fff 0px 0px 9px;
    padding-bottom: 6px;
    cursor: grab;
    user-select: none;
    font-size: 14px;
}
.window-content {
    background-color: #fff;
    font-size: 15px;
    height: calc(100% - 47px);
    border: solid 1px #0008;
    outline: solid 1px #fff4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.window-content2 {
    background-color: #fff;
    font-size: 15px;
    height: calc(100% - 47px);
    border: solid 1px #0008;
    outline: solid 1px #fff4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.window-header-image {
    width: 17px;
    height: 17px;
    margin-bottom: -2px;
    margin-right: 2px;
}
.window-header-image2 {
    width: 17px;
    height: 17px;
    margin-bottom: -2px;
    margin-right: 2px;
}
.winX-button {
    position: absolute;
    top: -7px;
    right: 1px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
    padding: 4px 17px;
    line-height: 9px;
    min-width: 47px;
    height: 19px;
    font-size: 26px;
    text-align: center;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: solid 1px rgb(197, 194, 231);
    border-top: 1px solid rgb(252, 252, 252);
    background: linear-gradient(0deg, rgb(110, 108, 223) 8%, rgb(48, 53, 200) 54%, rgb(118, 122, 229) 55%, rgb(171, 170, 244) 92%);
    outline: solid 1px rgb(27, 31, 82);
    cursor: pointer;
    transition: 0.1s ease-out;
    animation: colorz 1s linear infinite;
}
.winX-button2 {
    position: absolute;
    top: -7px;
    right: 1px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
    padding: 4px 17px;
    line-height: 9px;
    min-width: 47px;
    height: 19px;
    font-size: 26px;
    text-align: center;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: solid 1px rgb(197, 194, 231);
    border-top: 1px solid rgb(252, 252, 252);
    background: linear-gradient(0deg, rgb(110, 108, 223) 8%, rgb(48, 53, 200) 54%, rgb(118, 122, 229) 55%, rgb(171, 170, 244) 92%);
    outline: solid 1px rgb(27, 31, 82);
    cursor: pointer;
    transition: 0.1s ease-out;
    animation: colorz 01s linear infinite;
}
.bg1{
    width: 500px;
    height: 300px;
    background-color: white;
}
.winX-button img {
    width: 11px;
    margin-bottom: 5px;
}
.toolbar2{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    width: max-content;
    height: auto;
    margin-left: 2px;
    border: solid 6px #aaa7;
    border-image: linear-gradient(#aaa7 29%, #fffa 39%, #9997 39.9%, #7777 69%, #eee8 99%) 30;
    backdrop-filter: blur(5px);
    outline: solid 1px #fffc;
    position: absolute;
    border-radius: 3px;
    box-shadow: #000 0px 1px 7px 2px;
    box-sizing: border-box;
    z-index: 4;
}
.bg2{
    width: 400px;
    height: 700px;
    background-color: white;
}
.icon{
    position: absolute;
    width: 5%;
    top: 20px;
    left: 8px;
}

.icon2{
    position: absolute;
    width: 22.5%;
    top: 80px;
    left: 4px;
}

.icon3{
    position: absolute;
    width: 22.5%;
    top: 150px;
    left: 4px;
}

.icon4{
    position: absolute;
    width: 22.4%;
    top: 10px;
    left: 60px;
}

.BL{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000000;
    z-index: 1000;
    opacity: 0.98;
}

.containvomit{
    position: relative;
}

.vomit{
    position: absolute;
    width: 18%;
    display: block;
    left: 50%;
    top: -1000px;
    animation: shake 1s linear infinite;
}

#body{
    font-family: retro;
    position: absolute;
    top: 100px;
    right: 20px;
    width: 220px;
    font-style: italic;
    -webkit-text-stroke: 2.2px rgb(0, 0, 0);
    word-wrap:break-word;
}

@font-face {
    font-family: funnh;
    src: url(COMIC.TTF);
}

.BG2{
    position: relative;
    width: 650px;
    height: 720%;
    top: 50px;
    z-index: -99;
    background-color: rgb(218, 218, 218);
}

#image{
    width: 40%;
    top: 65px;
    left: 30px;
    position: absolute;
    z-index: 99;
    animation: rot 0.5s alternate infinite ease-in-out;
    filter: drop-shadow(16px 18px 13px #000000);
}

.contain{
    top: 10px;
    left: 50%;
}

@font-face {
    font-family: funni;
    src: url(COMIC.TTF);
  }

@font-face {
    font-family: retro;
    src: url(VCR_OSD_MONO_1.001.ttf);
}


#text{
    font-family: funni;
    position: absolute;
    top: 5px;
    left: 15px;

}

.Window{
    position: fixed;
    cursor: move;
    width: 500px;
    height: 400px;
    z-index: 100;
}
.Window2{
    position: fixed;
    cursor: move;
    width: 640px;
    height: 400px;
    z-index: 100;
}

.Garlic{
    position: absolute;
    bottom: 50%;
    left: -279px;
}

.Party{
    width: 1000%;
    height: 1000%;
    top: 0px;
    left: 0px;
    z-index: 100000;
    position: absolute;
    animation: rainbow-bg 3s linear infinite;
    opacity: 0.4;
}

.dance{
    position: absolute;
    animation: dan 2s linear infinite;
}

#power:hover{
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    transition: 0.4s;
 }

.fuzzy-overlay {
    position: absolute;
    inset: -200%;
    background-image: url("noise.png");
    opacity: 3%;
    z-index: 1010;
    /* pointer-events: none; */
    pointer-events:none;
    animation: shift 0.2s linear infinite both;
}

@keyframes outahere{
    from{
        opacity: 0;
        transform: scale();
    }
}

@keyframes shift {
    0% {
        transform: translateX(10%) translateY(10%);
    }

    100% {
        transform: translateX(-10%) translateY(-10%);
    }
}

@keyframes rot {
    0% { transform: rotate(-2deg); }
    100%  { transform: rotate(2deg); }    
}

@keyframes trans{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  @keyframes drop
  {
    0% {
      top: 70%;
    }
    100% {
      top: 300%;;
    }
  }

  @keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-1deg); }
    20% { transform: translate(-4px, 1px) rotate(1deg); }
    30% { transform: translate(4px, 3px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 3px) rotate(-1deg); }
    60% { transform: translate(-4px, 2px) rotate(0deg); }
    70% { transform: translate(4px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 3px) rotate(0deg); }
    100% { transform: translate(2px, -3px) rotate(-1deg); }
  }

  @keyframes dan {
    0% {
      animation-timing-function: ease-out;
      transform: rotate(-10deg) translateY(0px);
    }
    12.5% {
      animation-timing-function: ease-in;
      transform: rotate(-10deg) translateY(-40px);
    }
    25% {
      animation-timing-function: ease-out;
      transform: rotate(-10deg) translateY(0px);
    }
    37.5% {
      animation-timing-function: ease-in;
      transform: rotate(0deg) translateY(-40px);
    }
    50% {
      animation-timing-function: ease-out;
      transform: rotate(10deg) translateY(0px);
    }
    62.5% {
      animation-timing-function: ease-in;
      transform: rotate(10deg) translateY(-40px);
    }
    75% {
      animation-timing-function: ease-out;
      transform: rotate(10deg) translateY(0px);
    }
    87.5% {
      animation-timing-function: ease-in;
      transform: rotate(0deg) translateY(-40px);
    }
  }

  @keyframes grove {
    from{
        left: -269px;
    }
    to {
        left: 2000px;
    }
  }

  @keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}

@keyframes colorz {
    from {
        background: linear-gradient(0deg, rgb(110, 108, 223) 8%, rgb(48, 53, 200) 54%, rgb(118, 122, 229) 55%, rgb(171, 170, 244) 92%);
    }
    to {
        background: linear-gradient(0deg, rgb(206, 108, 223) 8%, rgb(200, 48, 200) 54%, rgb(229, 118, 218) 55%, rgb(229, 170, 244) 92%);
    }
  }