body{
    background-image: url(computerbg.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
    cursor: url('BrondAlive.PNG'),auto;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .loader8 {
    width: 250px;
    height: 16px;
    border: 3px solid #ffffff;
    border-radius: 0px;
    position: absolute;
    overflow: hidden;
    top: 57%;
    right: 43%;
    background: #000000;
    z-index: 1001;
  }
  
  .loader8:after {
    content: " ";
    display: block;
    width: 120px;
    top: -50%;
    height: 250%;
    position: absolute;
    animation: greenglow 3s linear infinite;
    z-index: 1002;
    background: #0011ff;
  }
  
  @keyframes greenglow {
    from {
      left: -120px;
    }
  
    to {
      left: 100%;
    }
  }

.endthing{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 60%;
    width: 100%;
}

.cog{
    position: relative;
    left: 1170px;
    width: 5%;
    top: 40%;
    z-index: 1001;
}
.TV{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    top: 45%;
    left: 20px;
    z-index: 1001;
}

#power{
    width: 2.6%;
    position: absolute;
    right: 10px;
    bottom: 4px;
    z-index: 102;
}

.title{
    font-family: funnh;
    position: absolute;
    bottom: -37px;
    z-index: 102;
    -webkit-text-stroke: 2.2px #000000;
    filter: drop-shadow(1px 1px 2px #000000);
}

.task{
    position: absolute;
    left: -90px;
    bottom: -2px;
    width: 170%;
    height: 60px;
    z-index: 101;
    background: linear-gradient(#CCCCCC, #808080);
}

#bIcon{
    width: 3%;
    position: absolute;
    z-index: 102;
    bottom: -5px;
    left: 9.3%;;
}

#title1{
    font-family: funnh;
    position: absolute;
    top: 96px;
    -webkit-text-stroke: 0.2px #000000;
    filter: drop-shadow(2px 2px 2px #000000);
}
#title1:hover{
    text-decoration: underline white;
}
#title2{
    font-family: funnh;
    position: absolute;
    top: 158px;
    left: 5px;
    -webkit-text-stroke: 0.2px #000000;
    filter: drop-shadow(2px 2px 2px #000000);
}
#title2:hover{
    text-decoration: underline white;
}
#title3{
    font-family: funnh;
    position: absolute;
    top: 227px;
    left: 9px;
    -webkit-text-stroke: 0.2px #000000;
    filter: drop-shadow(2px 2px 2px #000000);
}
#title3:hover{
    text-decoration: underline white;
}
#title4{
    font-family: funnh;
    position: absolute;
    top: 86px;
    left: 60px;
    -webkit-text-stroke: 0.2px #000000;
    filter: drop-shadow(2px 2px 2px #000000);
}
#title4:hover{
    text-decoration: underline white;
}
.Icon1:hover{
    cursor: pointer;
}
.Icon2:hover{
    cursor: pointer;
}
.Icon3:hover{
    cursor: pointer;
}
.Icon4:hover{
    cursor: pointer;
}
.close:hover{
    cursor: pointer;
}

.close{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    right: 15px;
    z-index: 1001;
    background-color: red;
    border-radius: 20%;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 67, 67, 0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    filter: drop-shadow(3px,3px,3px #ffffff);
}

.close2:hover{
    cursor: pointer;
}

.close2{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    right: 15px;
    z-index: 1001;
    background-color: red;
    border-radius: 20%;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 67, 67, 0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    filter: drop-shadow(3px,3px,3px #ffffff);
}

#apple{
    position: absolute;
    width: 50%;
    top: 60px;
    left: 170px;
}

.toolbar{
    position: fixed;
    width: 510px;
    height: 50px;
    cursor: move;
    transform: translate(-50%,-50%);
    top: 20%;
    left: 50%;
    z-index: 97;
    background: blue; /*for compatibility with older browsers*/
    background-image: linear-gradient(blue, #4534ff);  
    filter: drop-shadow(3px 3px 2px #000000);
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}
.toolbar:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255, 255, 255, 0.065));
  }
.toolbar:hover{
    cursor: wait;
}

.toolbar2{
    position: fixed;
    width: 650px;
    height: 50px;
    cursor: move;
    transform: translate(-50%,-50%);
    top: 20%;
    left: 50%;
    z-index: 97;
    background: blue; /*for compatibility with older browsers*/
    background-image: linear-gradient(blue, #4534ff);  
    filter: drop-shadow(3px 3px 2px #000000);
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}
.toolbar2:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255, 255, 255, 0.065));
  }
  .BG2:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 100%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
  }
  .BG:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 100%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
  }
  .close:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 40%;
    border-radius: 20%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
  }
  .close2:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 40%;
    border-radius: 20%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
  }
.icon{
    position: absolute;
    width: 5%;
    top: 20px;
    left: 8px;
}

.icon2{
    position: absolute;
    width: 22.5%;
    top: 80px;
    left: 4px;
}

.icon3{
    position: absolute;
    width: 22.5%;
    top: 150px;
    left: 4px;
}

.icon4{
    position: absolute;
    width: 22.4%;
    top: 10px;
    left: 60px;
}

.BL{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #000000;
    z-index: 1000;
    opacity: 0.98;
}

.containvomit{
    position: relative;
}

.vomit{
    position: absolute;
    width: 18%;
    display: block;
    left: 50%;
    top: -1000px;
    animation: shake 1s linear infinite;
}

#body{
    font-family: retro;
    position: absolute;
    top: 140px;
    right: 20px;
    width: 220px;
    font-style: italic;
    -webkit-text-stroke: 2.2px rgb(43, 43, 43);
    word-wrap:break-word;
}

@font-face {
    font-family: funnh;
    src: url(COMIC.TTF);
}

.BG{
    position: relative;
    width: 510px;
    height: 720%;
    top: 50px;
    z-index: -1000;
    background-color: rgb(218, 218, 218);
}

.BG2{
    position: relative;
    width: 650px;
    height: 720%;
    top: 50px;
    z-index: -99;
    background-color: rgb(218, 218, 218);
}

#image{
    width: 40%;
    top: 110px;
    left: 30px;
    position: absolute;
    z-index: 99;
    animation: rot 0.5s alternate infinite ease-in-out;
    filter: drop-shadow(16px 18px 13px #000000);
}

.contain{
    top: 10px;
    left: 50%;
}

@font-face {
    font-family: funni;
    src: url(COMIC.TTF);
  }

@font-face {
    font-family: retro;
    src: url(VCR_OSD_MONO_1.001.ttf);
}


#text{
    font-family: funni;
    position: absolute;
    top: 5px;
    left: 15px;

}

.Window{
    position: fixed;
    cursor: move;
    width: 500px;
    height: 400px;
    z-index: 100;
}
.Window2{
    position: fixed;
    cursor: move;
    width: 640px;
    height: 400px;
    z-index: 100;
}

.Garlic{
    position: absolute;
    bottom: 48%;
    left: -269px;
}

.Party{
    width: 1000%;
    height: 1000%;
    top: 0px;
    left: 0px;
    z-index: 100000;
    position: absolute;
    animation: rainbow-bg 3s linear infinite;
    opacity: 0.4;
}

.dance{
    position: absolute;
    animation: dan 2s linear infinite;
}

@keyframes rot {
    0% { transform: rotate(-2deg); }
    100%  { transform: rotate(2deg); }    
}

@keyframes trans{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  @keyframes drop
  {
    0% {
      top: 70%;
    }
    100% {
      top: 300%;;
    }
  }

  @keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-1deg); }
    20% { transform: translate(-4px, 1px) rotate(1deg); }
    30% { transform: translate(4px, 3px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 3px) rotate(-1deg); }
    60% { transform: translate(-4px, 2px) rotate(0deg); }
    70% { transform: translate(4px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 3px) rotate(0deg); }
    100% { transform: translate(2px, -3px) rotate(-1deg); }
  }

  @keyframes dan {
    0% {
      animation-timing-function: ease-out;
      transform: rotate(-10deg) translateY(0px);
    }
    12.5% {
      animation-timing-function: ease-in;
      transform: rotate(-10deg) translateY(-40px);
    }
    25% {
      animation-timing-function: ease-out;
      transform: rotate(-10deg) translateY(0px);
    }
    37.5% {
      animation-timing-function: ease-in;
      transform: rotate(0deg) translateY(-40px);
    }
    50% {
      animation-timing-function: ease-out;
      transform: rotate(10deg) translateY(0px);
    }
    62.5% {
      animation-timing-function: ease-in;
      transform: rotate(10deg) translateY(-40px);
    }
    75% {
      animation-timing-function: ease-out;
      transform: rotate(10deg) translateY(0px);
    }
    87.5% {
      animation-timing-function: ease-in;
      transform: rotate(0deg) translateY(-40px);
    }
  }

  @keyframes grove {
    from{
        left: -269px;
    }
    to {
        left: 2000px;
    }
  }

  @keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}