body{
    margin: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(89,89,89,0) 100%);
    animation: shake 100ms infinite;
}

html{
    overflow-y: hidden;
    overflow-x: hidden;
}


.Front{
    position: absolute;
    width: 130%;
    height: 100%;
    filter: blur(50%);
    z-index: 1;
}

.Front img{
    position: absolute;
    filter: grayscale(100%) contrast(100%) brightness(50%) drop-shadow(1px 12px 10px #000000);
}

.Front :nth-child(1){
    width: 110%;
    bottom: -200px;
    left: -30px;
}

.Front :nth-child(2){
    bottom: 120px;
    left: 330px;
}

.Back{
    position: absolute;
    width: 130%;
    height: 100%;
    z-index: 0;
}

.Back img{
    position: absolute;
    filter: grayscale(100%) contrast(100%) brightness(20%) drop-shadow(1px 12px 10px #000000);
}

.Back :nth-child(1){
    width: 110%;
    bottom: -150px;
    left: -30px;
}

.Back :nth-child(2){
    width: 5%;
    bottom: 300px;
    left: 1550px;
}

.bg{
    position: absolute;
    width: 100%;
    opacity: 10%;
}

@keyframes shake {
    0% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}