#col{
  animation: trans ease-in 1.5s;
}

a{
  text-decoration: none;
}

@font-face {
  font-family: freaky;
  src: url(papyrus.ttf);
}

@font-face {
  font-family: cool;
  src: url(Blockletter-PMGg.ttf);
}

@font-face {
  font-family: helv;
  src: url(Helvetica-Neue-Bold.ttf);
}

.header{
  padding: 0%;
}

body{
  background: linear-gradient(0deg, rgb(7, 4, 15) 0%, rgba(0,0,0,1) 100%);
  text-align: center;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-family: cool;
    letter-spacing: 5px;
    animation: colorRotate 1s linear infinite;
  }

.simon2{
    top: 200px;
    right: 600px;
    position: absolute;
    transition: transform .2s;
}

.simon2:hover{
    transform: scale(1.5px);
}

#J{
    font-family: helv;
}

#G{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#V{
    font-family: 'freaky', 'Arial Narrow', Arial, sans-serif;
}

#T{
    font-family: cursive;
}

#S{
    font-family: serif;
}

#C{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#back{
    font-family: Arial, Helvetica, sans-serif;
    animation: colorRotate 1s linear 0s infinite;
}

@keyframes float{
    from{
        rotate: 4deg;
    }
    to{
        rotate: -4deg;
    }
}

  @keyframes colorRotate {
    from {
      color: #009dff;
    }
    10% {
      color: #fffb00;
    }
    50% {
      color: #ff00e6;
    }
    75% {
      color: #ffffff;
    }
    100% {
      color: #40ff00;
    }
  }

@keyframes trans{
  from{
    opacity: 0;
    transform: rotate(45deg);
  }
  to{
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes grad{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}